{% extends "core/base.html" %}
{% load  static  compress  %}
{% block main_content %}
    <div class="page-404">
        <h3 class="header-404" >404</h3>
        <div class="robot">
            <div class="bubble">
                <p id="robot-says"></p>
            </div>
            <div class="axel"><img  src=" {% static "img/Axel.svg" %}" / >
            </div>
        </div>
    </div>

    {% compress js %}
    <script type="text/javascript" src="{% static  "js/404.js" %}"></script>
    {% endcompress %}
{% endblock %}