.richtext-image {
    margin: 0.5rem;
}

.row {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container, .top-bar, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section ul li {
    background-color: white;
}
