<div class="row">
    <div class="large-2 columns">
        {{ self.bound_blocks.col1_content.render }}
    </div>
    <div class="large-2 columns">
        {{ self.bound_blocks.col2_content.render }}
    </div>
    <div class="large-2 columns">
        {{ self.bound_blocks.col3_content.render }}
    </div>
    <div class="large-2 columns">
        {{ self.bound_blocks.col4_content.render }}
    </div>
    <div class="large-2 columns">
        {{ self.bound_blocks.col5_content.render }}
    </div>
    <div class="large-2 columns">
        {{ self.bound_blocks.col6_content.render }}
    </div>
</div>
