# Minimal requirements
Django>=1.7,<1.8
django_compressor<2.0
wagtail==1.0

# Recommended components (require additional setup):
psycopg2==2.5.2
elasticsearch==1.1.1

# Recommended components to improve performance in production:
django-redis-cache==0.13.0
django-celery==3.1.10

raven
http://pypi.qax.io/axhandle-0.0.1.tar.gz
