.passport-photo{
  width: 240px;
  margin: 60px auto 40px auto;
  .image-wrapper {
    position: relative;
    width: 240px;
    img {
      width: auto;
      height: auto;
      max-height: 241px;
      max-width: 240px;
    }
    &:after {
      position: absolute;
      bottom: -3px;
      right: -14px;
      content: '';
      color: red;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 20px 0 20px;
      border-color: $black transparent transparent transparent;
      -ms-transform: rotate(315deg);
      -webkit-transform: rotate(315deg);
      transform: rotate(315deg);
      display: inline-block;
    }
  }
  figcaption{
    margin-top: 15px;
    font-size: 14.25px;
  }
}