.read-more{
  position: relative;
  padding-left: 25px;
  color: $dark-green;
  text-transform: uppercase;
  &:before{
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.39px 10.39px 0 10.39px;
    border-color: $dark-green transparent transparent transparent;
    transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    display: inline-block;
  }
  &:hover{
    color: $dark-green;
  }
}