@media only screen and (max-width:992px) {
  .advantages{
    padding-bottom: 60px;
    .text{
      padding: 0 ;
    }
  }
  .image-wrapper.partners img{
    max-width: 180px !important;
  }
  /*.box-costs-emphasized{
    &:before{
      content: normal;
    }
    &:after{
      content: normal;
    }
  }*/
  .box-costs-standard .text {
    padding-bottom: 8px;
  }
  .box-costs-emphasized .text{
    padding-bottom: 33px;
  }
  .box-costs-standard .text .button {
    right: 35px;
    bottom: -39px;
  }
  .text.marked-quote blockquote {
    padding-left: 15px;
  }
  .text.marked-quote blockquote:before {
    left: 13px;
  }
  .text.marked-quote {
    margin-bottom: 80px;
  }
  /*.process .row{
    &:before{
      content: normal;
    }
    &:after{
      content: normal;
    }
  }*/
  .process .row:nth-child(2):before{
    content: normal;
  }
  .process .row:nth-child(3):before {
    content: normal;
  }
  .process .row:nth-child(3):after {
    content: '';
    clear: both;
    display: table;
    background: none;
  }
  .process .row:last-child:before {
    content: normal;
  }
  .process .row:nth-child(2) .text {
    padding-right: 0px;
  }
  .process .row:nth-child(3) .text {
    padding-right: 0px;
    padding-left: 33px;
  }
  .process .row .image-wrapper img {
    max-width: 205px;
  }
  .process .row .text {
    padding-right: 0px;
    padding-left: 33px;
  }
  .logos-white-background .logo-wrapper {
    max-width: 10.6%;
  }
  footer .footer .container .row div[class^='col-'] form {
    margin-bottom: 50px;
  }
  footer .social-media-bar .row a {
    margin-left: 39px;
  }
}