<div class="row text-left">
    <div class="large-4 columns">
        <h5>COMPANY</h5>

        <div class="rich-text">
            <ul>
                <li><a href="https://www.ax-semantics.com/company/">About us</a></li>
                <li><a href="https://www.ax-semantics.com/company/team/">Team</a></li>
                <li><a href="http://blog.ax-semantics.com/">Blog</a></li>
            </ul>
        </div>
    </div>

    <div class="large-4 columns">
        <div class="rich-text">
            <h5>TECHNICAL INFORMATION</h5>

            <ul>
                <li><a href="http://atml3.rocks/">ATML3 Tools</a><br></li>

                <li><a href="http://apidocs.ax-semantics.com/">API
                        Documentation</a><br></li>
            </ul>
        </div>
    </div>

    <div class="large-4 columns">
        <div class="rich-text">
            <h5>CONTACT US</h5>

            <ul>
                <li><a href=
                        "http://www.ax-semantics.com/contact-us/">Contact
                        Form</a><br></li>

                <li><a href=
                        "mailto:info@ax-semantics.com">info@ax-semantics.com</a>&nbsp;<br>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row text-left">
    <div class="large-4 columns">
        <div class="rich-text">
            <h5>HEADQUARTERS</h5>

            <p>aexea GmbH<br>
                Marienstraße 23<br>
                70178 Stuttgart<br>
                Tel: +49 711 699 486-0</p>

            <p><a href="mailto:info@ax-semantics.com">info@ax-semantics.com</a></p>
        </div>
    </div>

    <div class="large-4 columns">
        <div class="rich-text">
            <h5>OFFICES</h5>

            <ul>
                <li><b>LATAM</b></li>

                <li>by Brand &amp; Label<br>
                    sebastian.hercovich@ax-semantics.com</li>
            </ul>

            <ul>
                <li><b>Berlin</b><br>
                    aexea c/o Büro Y<br>
                    Greifswalder Str. 33a<br>
                    10405 Berlin<br>
                    Stephen Meiller<br>
                    stephen.meiller@ax-semantics.com</li>
            </ul>
        </div>
    </div>
    <div class="large-4 columns">
    </div>
</div>
