{% extends "core/base.html" %} {% load wagtailcore_tags wagtailimages_tags static %} {% block main__content %} {% for block in block.value.metapages %} 
{% if block.block_type == 'white_two_columns'%}
<p> {{ block.block_type }} </p>
<section>
    <div class="row">
        <div class="large-12 columns">
            <h2>{{ block.value.block1_title }}</h2>
            <p class="subline">{{ block.value.block1_subline }}</p>
            {{ block.value.block1_subtitle |richtext }}
            <ul class="medium-block-grid-2 large-block-grid-2">
                <li>
                    {{ block.value.block1_content1|richtext }}
                    <a href="{{ block.value.block1_button1_url }}" class="button">{{ block.value.block1_button1_label }}</a>
                </li>
                <li>
                    {{ block.value.block1_content2|richtext }}
                    <a href="{{ block.value.block1_button2_url }}" class="button">{{ block.value.block1_button2_label }}</a>
                </li>
                <li>
                    {{ block.value.block1_content3|richtext }}
                    <a href="{{ block.value.block1_button3_url }}" class="button">{{ block.value.block1_button3_label }}</a>
                </li>
                <li>
                    {{ block.value.block1_content4|richtext }}
                    <a href="{{ block.value.block1_button4_url }}" class="button">{{ block.value.block1_button4_label }}</a>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endif %}

{% if block.block_type == 'imagecolumns' %}
<p>{{block.block_type}}</p>
<section>
    <div class="row">
        <div class="large-12 columns">
            <ul class="medium-block-grid-1 large-block-grid-2">
                <li>
                    <div class="m-quote">
                        {% image block.value.block3_thumbnail1 fill-170x170 class="quote-image" %}
                        <blockquote>
                            {{ block.value.block3__content1|richtext }}
                        </blockquote>
                    </div>
                </li>
                <li>
                    <div class="m-quote">
                        {% image block.value.block3_thumbnail2 fill-170x170 class="quote-image" %}
                        <blockquote>
                            {{ block.value.block3__content2|richtext }}
                        </blockquote>
                    </div>
                </li>
                <li>
                    <div class="m-quote">
                        {% image block.value.block3_thumbnail3 fill-170x170 class="quote-image" %}
                        <blockquote>
                            {{ block.value.block3__content3|richtext }}
                        </blockquote>
                    </div>
                </li>
                <li>
                    <div class="m-quote">
                        {% image block.value.block3_thumbnail4 fill-170x170 class="quote-image" %}
                        <blockquote>
                            {{ block.value.block3__content4|richtext }}
                        </blockquote>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endif %} 
{% endfor %}
 {% endblock main__content %}
