{% extends "core/base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block main_content %}
	<div class="employees">
		
		<ul class="large-block-grid-6 medium-block-grid-4 small-block-grid-1">
			{% for block in self.employees %}
				<li>
					<ul class="employee">
						<li class="img"> {% image block.value.image  max-400x400  %} </li>
						
						<li class="name">
							<div class="row">
								<div class="large-1 columns"></div>
								<div class="large-15 columns">
									{{block.value.name}} <br/>
									<div class="arrow-icon">
										<img src=" {% static "img/chevron-right.svg" %}"
									</div>
								</div>
							</li>
							<li class="jobtitle">
								<div class="row">
									<div class="large-1 columns"></div>
									<div class="large-15 columns">{{block.value.job_title}}</div>
								</div>
							</li>
							<li class="telephone">
								<div class="row">
									<div class="large-1 columns " ></div>
									<div class="large-15 columns ">
										<i class="contact-icon phone"></i>{{block.value.telephone}}
									</div>
								</div>
							</li>
							<li class="email">
								<div class="row">
									<div class="large-1 columns "></div>
									<div class="large-15 columns">
										<i class="contact-icon mail"></i>{{block.value.email}}
									</div>
								</div>
							</li>
							
						</ul>
					</li>
					<div class="last"></div>
				{% endfor %}
			</ul>
		</div>
	{% endblock main_content %}